<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        table, th, td {
            border: 1px solid;
            margin: auto;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Ex04 (SQL)</h1>
<h2>Movies:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Movie title</th>
        <th>Opening Crawl</th>
        <th>Director</th>
        <th>Producer</th>
        <th>Release Date</th>
    </tr>
    {% for movie in movies_list %}
        <tr>
            {% for field in movie %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>