{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Synopsis</th>
                    <th>Writer</th>
                    <th>Created</th>
                    <th>When</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if news_list %}
                    {% for item in news_list %}
                        <tr>
                            <td>{{ item.title|truncatechars:20 }}</td>
                            <td>{{ item.synopsis }}</td>
                            <td>{{ item.author }}</td>
                            <td>{{ item.created }}</td>
                            <td>{{ item.created|timesince }}</td>
                            <td>
                                <button type="button" class="btn btn-info"
                                        onclick="location.href='{% url "render_detail" item.pk %}'">
                                    Read
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
{% endblock content %}