{% extends 'base.html' %} {% block title %}
    Ex01: Display process of a static page.{% endblock title %}
{% block content %}
    <div class="content">
        <h1>What Does Static Web Page Mean?</h1>
        <p>A static Web page is a page that is built using HTML code and features the same presentation and content,
            regardless of user identity or other factors. Static Web pages are easier to code and assemble than dynamic
            Web pages, which may feature customizable content according to a user's identity or other factors.
        </p>
        <p>Static Web pages are also known as static websites.</p>
        <h1>Techopedia Explains Static Web Page</h1>
        <p>In a sense, a static Web page is just a simple purveyor of information. Designers often use a combination of
            text and images, controlled by HTML tags, to render something that is a lot like a newspaper page. It has
            typesetting and layout, but it does not change from one load to another.</p>

        <p>Another way to understand static Web pages is to contrast them with dynamic Web pages. The latter have
            controls
            and forms that are deep coded, so that the page displays differently to different users or in different
            situations. For example, a dynamic Web page may access a database to find out about a user’s identification
            and
            history, or to display custom items like the user's name or his/her collected preferences. In contrast, a
            static
            Web page does not provide this kind of customization.</p>
        <h2>Examples of Static Websites</h2>
        <p>The major examples of static websites are as follows:</p>

        <ul></ul>
        Documentation
    </div>
    <ol>
        <li>Developing Cache</li>
        <li>Website presentation</li>
        <li>Communication cache-scrapping buffer</li>
        <li>Forms</li>
        <li>Newsletter Contents</li>
        <li>Disaster page</li>
        <li>Recovery from disaster status</li>
        <li>Landing page/scales</li>
        <li>Blogs.</li>
    </ol>
    </div>

{% endblock content %}