{% extends 'base.html' %}
{% block title %}Ex01: Django, framework web.{% endblock title %}
{% block content %}
<span><h2>Introduction to Django Python Framework</h2>
    <p> Django language is the most popular Python Framework out there. It is open-source and free to use. It also
        follows Model-View-Controller (MVC) architecture which is now the de facto architecture utilized in the
        development of web apps. Django shines in its non-modular architecture. It can help the easy development of
        database-drive websites which are complex in nature. Moreover, it is ready for reusability, and a pluggable
        environment can enable developers to do rapid development. It also follows the DRY philosophy, enabling minimal
        code to be written, saving time. Just like any other web framework, it offers basic CRUD operation and a
        simple-to-use admin panel for easy administration. </p>
    <p> The whole philosophy behind Django is rapid development and making complex projects work for the developer. </p>
</span>
<span><h2>Django History</h2>
    <p> Django was created in the year 2003 by Adrian Holovaty and Simon Willison when they started using Python to
        develop a web application. They were working in Lawrence Journal-World newspaper and clearly had a good idea of
        what they were trying to achieve. </p>
    <p> It was released in July 2005 under the BSD license and was named after the guitarist Django Reinhardt. In the
        year 2008, a foundation named Django Software Foundation (DSF) was established to maintain Django. </p>
</span>
<span>
    <h2>Django Tools</h2>
    <p>Django framework is one of the most amazing web framework out there. The community is huge, ensuring that Django
        offers cutting edge web development environment and practices. And, that’s why there are plenty of useful tools
        to use with Django framework. Below is the list of Django tools that you will find useful in your development
        environment.</p>
</span>
{% endblock content %}