{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-light border">
                {% if errormsg %}
                    <tr>
                        <td>
                            <h2>{{ errormsg }}</h2>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="border" colspan="2">
                        <h5 style="padding-left: 10px">Input your username and password</h5>
                    </td>
                </tr>
                <tr class="border">
                    <td class="border w-25">Your username:</td>
                    <td>
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td class="border w-25"><label>Your password:</label></td>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td class="border" colspan="2">
                        <input type="submit" value="Log in" class="button btn-primary">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}